<nav class="navbar navbar-expand-sm navbar-light bg-dark">
  <div class="container">
    <a class="navbar-brand text-white" href="#">Currency Converter</a>
  </div>
</nav>

<div class="full-page">
<div class="container">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title text-center">Currency Converter</h2>
      <form action="convert.php" method="post">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label" for="fromCountry">From Country:</label>
              <select class="form-select mt-1" id="fromCountry" name="fromCountry" [(ngModel)]="baseCurrency">
                <option *ngFor="let currency of currencies" [value]="currency.value">{{ currency.label }}</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label" for="toCountry">To Country:</label>
              <select class="form-select mt-1" id="toCountry" name="toCountry" [(ngModel)]="targetCurrency">
                <option *ngFor="let currency of currencies" [value]="currency.value">{{ currency.label }}</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-6 mt-3">
            <div class="form-group">
              <label class="form-label" for="amount">Amount:</label>
              <input type="number" class="form-control mt-1" id="amount" name="amount" placeholder="Enter amount"
                [(ngModel)]="amount" />
            </div>
          </div>
          <div class="col-md-6 mt-3">
            <div class="form-group">
              <label class="form-label" for="convertedRate">Converted Rate:</label>
              <input type="text" class="form-control mt-1" id="convertedAmountInput"
                [value]="(amount | converter:baseCurrency:targetCurrency:conversionRates) | currency:targetCurrency" readonly
                placeholder="Converted rate">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col" *ngIf="baseCurrency">
      <p class="mt-4">Exchange Rates:</p>
      <ul class="list-group exchange-rates">
        <li *ngFor="let currency of currencies; let i = index" [hidden]="baseCurrency === currency.value"
          class="list-group-item exchange-rate-item">
          1 {{ baseCurrency }} = {{ conversionRates[baseCurrency][currency.value] }} {{ currency.value }}
        </li>
      </ul>
    </div>
    <div class="col" *ngIf="targetCurrency">
      <p class="mt-4">Exchange Rates:</p>
      <ul class="list-group exchange-rates">
        <li *ngFor="let currency of currencies; let i = index" [hidden]="targetCurrency === currency.value"
          class="list-group-item exchange-rate-item">
          1 {{ targetCurrency }} = {{ conversionRates[targetCurrency][currency.value] }} {{ currency.value }}
        </li>
      </ul>
    </div>
</div>
</div>
